p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1 {
    border-bottom: 2px solid #dedede;
    font-size: 24px;
    margin-bottom: 20px;
}

h1.title {
    border-bottom: 8px solid #57c4d0;
    font-size: 34px;
}
